.servicePage {
  margin: 0 auto;
  background-color: #101010;
  padding: 0px 0px 0px 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.servicePage .page {
  width: 100%;
}

.servicePage * {
  box-sizing: border-box;
}

.servicePage main {
  /* padding: 0 50px 150px; */
  margin: 0 !important;
  width: 100%;
}

#serviceVisualWrap {
  padding: 235px 0 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#serviceVisualWrap strong {
  font-family: Plus Jakarta Sans;
  font-size: 120px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  display: block;
}

.servicePage #serviceContent1 {
  padding-top: 50px;
  padding-bottom: 150px;
  flex-direction: column;
  position: relative;
}

.servicePage #serviceContent1::before {
  content: "";
  width: calc(100% - 100px);
  height: 1px;
  position: absolute;
  top: 0;
  left: 50%;
  background: #343434;
  transform: translateX(-50%);
}

.servicePage section {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.servicePage section hgroup {
  display: flex;
  color: #ffffff;
  align-items: flex-start;
}
.servicePage section hgroup p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.45;
  text-align: left;
}

.servicePage section hgroup sub {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.45;
  text-align: left;
  margin-left: 150px;
  opacity: 0.7;
  word-break: keep-all;
}

.servicePage .videoWrap {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  border-radius: 20px;
}

.servicePage .videoWrap video {
  width: 100%;
  height: auto;
}

#serviceContent2 {
  gap: 60px;
  padding-bottom: 100px;
}

#serviceContent2 > .left {
  width: 260px;
}
#serviceContent2 > .left li {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid #272727;
  cursor: pointer;
}

#serviceContent2 > .left li * {
  transition: 0.25s ease;
}

#serviceContent2 > .left li p {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: transparent;
  border-left: 2px solid transparent;
}

#serviceContent2 > .left li:hover p * {
  color: #fff;
}

#serviceContent2 > .left li.is_active p {
  background: linear-gradient(90deg, #351321 0%, #101010 100%);
  border-left: 2px solid #c8125b;
  color: #f12174 !important;
}
#serviceContent2 > .left li.is_active p * {
  color: #f12174;
}

#serviceContent2 > .left li p span {
  font-size: 16px;
  font-weight: 600;
  color: #bababa;
}
#serviceContent2 > .left li p span mark {
  color: #565656;
  margin-right: 8px;
}

#serviceContent2 > .left li p sub {
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin-top: 5px;
}

#serviceContent2 .right {
  width: calc(100% - 260px);
  color: #fff;
}

#serviceContent2 .right .title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

#serviceContent2 .right .description {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 24px 0 80px;
  word-break: keep-all;
}

#serviceContent2 .right > img {
  width: 100%;
}

#serviceContent2 .right img.mo {
  display: none;
  max-width: 500px;
}

#serviceContent2 .right ul {
  width: 100%;
  margin-top: 100px;
  display: flex;
  border-top: 1px solid #343434;
  position: relative;
  padding-top: 30px;
  gap: 25px;
}

#serviceContent2 .right ul sub {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #cb3a74;
  left: 0;
  top: -30px;
  display: flex;
  align-items: center;
}
#serviceContent2 .right ul sub::before {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  margin-right: 10px;
  background: #cb3a74;
}

#serviceContent2 .right ul li {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#serviceContent2 .right ul.quarter li {
  width: 25%;
}

#serviceContent2 .right ul li img {
  margin-bottom: 20px;
}

#serviceContent2 .right ul li span {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
#serviceContent2 .right ul li p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  color: #929292;
  word-break: keep-all;
  margin-top: 12px;
}

#serviceContent2 .right ul li p br {
  display: none;
}

@media (max-width: 1600px) {
  .servicePage section {
    padding-left: 50px;
    padding-right: 50px;
  }
  #serviceVisualWrap strong {
    font-size: 7.5vw;
  }
}

@media (max-width: 1400px) {
  #serviceContent2 {
    flex-direction: column;
    padding: 0 0 100px;
  }

  #serviceContent2 > .left {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 0 30px;
  }

  #serviceContent2 > .left::-webkit-scrollbar {
    display: none;
  }

  #serviceContent2 > .left li {
    padding: 0;
    min-width: fit-content;
  }

  #serviceContent2 > .left li p {
    height: 100%;
    padding: 20px;
  }

  #serviceContent2 .right {
    width: 100%;
    padding: 0 50px 100px;
  }

  #serviceContent2 > .left li p {
    border-left: none;
    border-bottom: 2px solid transparent;
  }
  #serviceContent2 > .left li.is_active p {
    background: linear-gradient(90deg, #351321 0%, #101010 100%);
    border-left: none;
    border-bottom: 2px solid #c8125b;
    color: #f12174 !important;
  }
}
@media (max-width: 1250px) {
  .servicePage section hgroup {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .servicePage section hgroup p,
  .servicePage section hgroup sub {
    margin-left: 0;
    text-align: center;
  }

  .servicePage section hgroup p br {
    display: none;
  }

  #serviceContent2 .right ul {
    margin-top: 90px;
    padding-top: 50px;
    gap: 30px;
  }

  #serviceContent2 .right ul {
    flex-wrap: wrap;
  }
  #serviceContent2 .right ul.quarter li {
    width: calc(50% - 15px);
  }
}

@media (max-width: 1024px) {
  #serviceVisualWrap {
    padding: 150px 0 60px;
  }

  .servicePage section {
    padding-left: 4%;
    padding-right: 4%;
  }

  #serviceContent2 .right {
    padding: 0 4%;
  }

  #serviceContent2 > .left li {
    min-width: fit-content;
  }
  #serviceContent2 > .left li p sub {
    display: none;
  }

  #serviceContent2 > .left li p span mark {
    display: none;
  }

  #serviceContent2 > .left li p span {
    text-align: center;
  }

  #serviceContent2 .right .title {
    font-size: 27px;
  }

  #serviceContent2 .right .description {
    font-size: 16px;
    margin: 20px 0 50px;
  }

  #serviceContent2 .right ul sub {
    font-size: 14px;
  }

  #serviceContent2 > .left li.is_active p {
    background: none;
  }

  #serviceContent2 > .left li p {
    padding: 16px 12px;
  }

  #serviceContent2 > .left {
    padding: 0 4%;
  }

  #serviceContent2 {
    gap: 50px;
  }

  #serviceContent2 .right ul li p br {
    display: block;
  }

  .servicePage #serviceContent1 {
    padding-bottom: 50px;
  }
}

@media (max-width: 768px) {
  #serviceVisualWrap strong {
    font-size: 50px;
  }
  .servicePage section hgroup p {
    font-size: 16px;
  }

  .servicePage section hgroup sub {
    font-size: 13px;
  }

  #serviceContent2 .right {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #serviceContent2 .right .title {
    font-size: 22px;
  }

  #serviceContent2 .right .description {
    font-size: 15px;
    text-align: center;
  }

  #serviceContent2 .right ul sub {
    font-size: 13px;
  }

  #serviceContent2 .right ul {
    gap: 50px;
  }

  #serviceContent2 .right ul li,
  #serviceContent2 .right ul.quarter li {
    width: 100%;
    align-items: center;
  }
  #serviceContent2 .right ul li img {
    margin-bottom: 10px;
  }
  #serviceContent2 .right ul li p {
    margin-top: 10px;
    text-align: center;
  }

  #serviceContent2 .right img.pc {
    display: none;
  }
  #serviceContent2 .right img.mo {
    display: block;
  }

  #serviceContent2 > .left li p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .servicePage section hgroup sub br {
    display: none;
  }
}
